html{
    background-color: rgb(63, 34, 63);
}
h1 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(38, 128, 128);;
    margin: 0;
    border: 1px solid;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th , td {
    background-color: rgb(38, 128, 128);
}
table th , table td {
    background-color: rgb(42, 110, 110);
    border: 1px solid white;
    color: white;
}