<<<<<<< HEAD
html {
    background-color: darkblue;
}
h3 {
    color: blue;
=======
html {
    background-color: darkblue;
}
h3 {
    color: blue;
>>>>>>> ee9697d2041dc0d13c61a3a21ae7f2f60380c91d
}